<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile=".\logs\ApplicationTraceLog.log">

  <targets>
    <target name="logfile"
            xsi:type="File"
            fileName="${currentdir:dir=\logs}\${shortdate}_logfile.log"
            layout="${longdate} | ${machinename} | ${event-properties:item=Severity} | ${event-properties:item=MethodName} | ${message} | ${event-properties:item=StackTrace} | ${event-properties:item=UserName}"/>
    <target name="database"
            xsi:type="Database"
            commandType="StoredProcedure"
            commandText="[dbreporting].[usp_ins_InsertApplicationLog]"
            connectionString="Data Source=NAUSD-WSQL0130A\SQL16B;Initial Catalog=IDC_App_DB;User ID=Idc_app_dev;Password=IDCdev@19!;">
      <parameter name="@ErrorCode" layout="${event-properties:item=ErrorCode}" />
      <parameter name="@Severity" layout="${event-properties:item=Severity}" />
      <parameter name="@MethodName" layout="${event-properties:item=MethodName}" />
      <parameter name="@MachineName" layout="${machinename}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@StackTrace" layout="${event-properties:item=StackTrace}" />
      <parameter name="@EventTime" layout="${date}" />
      <parameter name="@UserName" layout="${event-properties:item=UserName}" />
      <dbProvider>System.Data.SqlClient</dbProvider>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <!--<logger name="*" minlevel="Error" writeTo="database" />-->
  </rules>
</nlog>